<%- include("header"); -%>

<h2>This is the about page.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi purus risus, tincidunt vitae mauris pharetra, suscipit rhoncus ipsum. Proin vel lectus at nisl cursus placerat. Sed congue tortor neque, at gravida lacus ornare ut. Aliquam pulvinar justo sed porta pretium. Aenean et justo id lorem iaculis finibus maximus et magna. Pellentesque et commodo enim. Integer cursus lacus ut augue mattis, sit amet dapibus sapien efficitur.</p>

<%- include("footer"); -%>